<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.olfakaroui.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:value="@string/facebook_app_id">
        <activity android:name=".UI.Login.LoginActivity" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider570364166708868"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".UI.Login.ChoosingRoleActivity" />
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Login.WelcomeActivity" />
        <activity android:name=".UI.Login.CharityRegistrationActivity" />
        <activity android:name=".UI.Login.UserRegistrationActivity" />
        <activity android:name=".UI.Login.ConfirmationPhotoActivity" />
        <activity android:name=".UI.Login.ChooseLocationCharityActivity" />
        <activity
            android:name=".UI.events.EventDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.events.MoreActivity" />
        <activity android:name=".UI.events.CommentsActivity" />
        <activity android:name=".UI.users.UserProfileActivity" />
        <activity android:name=".UI.users.FollowersFollowingActivity" />
        <activity android:name=".UI.events.EventPlaceMapActivity" />
        <activity android:name=".UI.events.EventsByTypeActivity" />
        <activity android:name=".UI.events.PhotosGalleryActivity"></activity>
    </application>

</manifest>